---
layout: default

link: Zapytaj o poparcie
link_mobile: TWEET THEM
workonit_tweet: '@TWITTERHANDLE, czy mogę liczyć na przyjęcie senackich poprawek dot. ochrony zwierząt wykorzystywanych w badaniach naukowych? Zwierzęta nie powinny cierpieć'
workonit_email_subject: 'Społeczna kontrola nad eksperymentami na zwierzętach - apel o przyjęcie poprawek Senatu!'
workonit_email_body: |
 {Szanowny Panie Pośle|Szanowna Pani Posłanko},

 apeluję o poparcie przez {Pana|Panią} wszystkich poprawek Senatu (Uchwała Senatu z dnia 29 października 2021 roku), dotyczących usprawnienia działania systemu ochrony zwierząt wykorzystywanych w badaniach naukowych, zawartych w procedowanej przez Parlament ustawie o zmianie ustawy z dnia 15 stycznia 2015 roku o ochronie zwierząt wykorzystywanych do celów naukowych lub edukacyjnych (druk Sejmowy nr 1454, druk Senacki nr 508).
 Uważam, że ochrona zwierząt laboratoryjnych jest szczególnie istotną sprawą, gdyż dotyczy cierpienia, na które narażamy zwierzęta po to, aby rozwijać naukę czy udoskonalać metody leczenia. To ważne cele, ale tym bardziej powinniśmy dbać o to, by system ochrony nad zwierzętami, które podczas eksperymentów bardzo cierpią, a ich cierpienie jest często nie do złagodzenia, działał skutecznie.
 Poprawki przyjęte przez Senat RP do ustawy o zmianie ustawy o ochronie zwierząt wykorzystywanych do celów naukowych lub edukacyjnych, usprawniają działanie systemu kontroli doświadczeń przez organy Inspekcji Weterynaryjnej, zwiększają przejrzystość prac komisji etycznych wydających zgody na doświadczenia oraz wzmacniają ochronę zwierząt laboratoryjnych. Umożliwiają udział w procesie wydawania zgód na doświadczenia wyspecjalizowanym organizacjom społecznym zajmującym się ochroną zwierząt. 

 W związku z tym apeluję o przyjęcie wszystkich poprawek Senatu, w szczególności tych, które dotyczą&#58;

 
 1.	(P1) Sytuacji zwierząt dzikich, które będą mogły być poddawane eksperymentom jedynie w wyjątkowych przypadkach.
 2.	(P2) Konieczności uzupełnienia różnic programowych w szkoleniach dla osób wykonujących procedury na zwierzętach, odbytych za granicą, zanim osoba przystąpi do wykonywania takich procedur.
 3.	(P4) Obowiązku, zgodnie z którym każdy hodowca, dostawca i użytkownik zwierząt będzie musiał zawrzeć umowę z lekarzem weterynarii na świadczenie usług w ośrodku, co jest ważne z powodu konieczności zapewnienia zwierzętom właściwej opieki weterynaryjnej.
 4.	(P6) zaangażowania w prace komisji wydających zgody na doświadczenia tych organizacji społecznych, które wykażą dorobek w występowaniu w postępowaniach karnych lub administracyjnych w charakterze pokrzywdzonego, oskarżyciela posiłkowego lub strony reprezentującej interes zwierząt.
 5.	(P9) Umożliwienia członkom komisji etycznych, będącym przedstawicielami organizacji społecznych, których celem statutowym jest ochrona zwierząt, składania w imieniu ich organizacji wniosków o przystąpienie w charakterze strony do postępowania o wydanie zgody na doświadczenie. 
 6.	(P10 i P18) Usunięcia proponowanego art 38a oraz art. 5 projektu, tj. przepisów wyłączających jawności działania komisji etycznych - (jawność prac komisji wydających zgody na doświadczenia ma być utrzymana).
 7.	(P12 i P17) Określenia terminu złożenia dokumentów do tzw. oceny retrospektywnej oraz sankcje za ich niezłożenie- jest to ważne w kontekście oceny, czy dane doświadczenie było celowe i czy ma sens prowadzenie podobnych badań w przyszłości.
 8.	(P15) Wzmocnienia sankcji za naruszenia wymagań, jakie spełniać mają instytucje hodujące i użytkujące zwierzęta laboratoryjne.
 9.	(P 16) Podwyższenia kary za znęcanie się nad zwierzętami wykorzystywanymi w doświadczeniach.

 Z wyrazami szacunku
link_progress: Podziękuj im za pracę nad 2FA
link_progress_mobile: THANK THEM
progress_tweet: Dziekuje za pracę nad obsługą 2FA, @TWITTERHANDLE!
hash: jawnośćsprzyjazwierzętom
---

<noscript>
  <div class="ui icon error message">
    <i class="warning sign icon"></i>

    <div class="content">
      <h1>Wygląda na to, że masz wyłączoną obsługę JavaScriptu!</h1>

      <p>
        Bez JavaScript, strona ta prawdopodobnie nie będzie dobrze działać.
        Aby uzyskać więcej informacji, lub jeśli chcesz z nami rozmawiać na ten temat,
        Proszę spójrz na nasze <a href="{{site.repo}}">
          repozytorium GitHub</a>.
      </p>
    </div>
  </div>
</noscript>

<a href="{{site.repo}}" class="github-corner">
  <svg width="80" height="80" viewBox="0 0 250 250"
    style="fill:#39CCCC; color:#FFFFFF; position: absolute; top: 0; border: 0; right: 0;">
    <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
    <path
      d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
      fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
    <path
      d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
      fill="currentColor" class="octo-body"></path>
  </svg>
</a>

<div id="top-header" class="ui center aligned icon header">
  <img src="/img/zwierz_500.png" style="width:200px; margin:10px">

  <h2>Jawność sprzyja zwierzętom!</h2>
  <p>

  <div class="sub header">
    <div class="ui grid stackable container">
      <p>Sejm przyjął nowelizację ustawy z 15 stycznia 2015 roku o ochronie zwierząt wykorzystywanych do celów naukowych lub edukacyjnych (druk Sejmu nr 1454).  Zmiana przepisów była podyktowana koniecznością implementacji dyrektywy Parlamentu Europejskiego i Rady 2010/63/UE z 22 września 2010 r. w sprawie ochrony zwierząt wykorzystywanych do celów naukowych.</p>
      <p>Jednak poza koniecznymi zmianami projekt zawierał również propozycje, które nie tylko naruszały przepisy Konstytucji RP w zakresie jawności prac organów publicznych, jakimi są komisje wydające zgody na doświadczenia, ale były również niezgodne z przepisami innych ustaw, dotyczących opieki weterynaryjnej nad zwierzętami oraz zmniejszały możliwość kontroli doświadczeń prowadzonych na żywych zwierzętach i tym samym skuteczną ich ochronę.</p>
      <p>Senat przyjął zaproponowane przez organizacje społeczne poprawki, które uszczelnieniają system kontroli doświadczeń przez Państwową Inspekcję Weterynaryjną, zwiększają przejrzystości prac komisji etycznych wydających zgody na doświadczenia, wzmacniają ochronę zwierząt laboratoryjnych poprzez umożliwienie udziału w procesie wydawania zgód na doświadczenia eksperckim organizacjom społecznym.</p>
      <div class="four wide column">
        <h2>Cel</h2>
        <p>skuteczniejsza ochrona zwierząt wykorzystywanych w badaniach naukowych</p>
      </div>
      <div class="eight wide column">
        <h2>Skutek</h2>
        <p>
        <ul>
          <li>uszczelnienie systemu kontroli doświadczeń przez Państwową Inspekcję Weterynaryjną, </li>
          <li>zwiększenie przejrzystości prac komisji etycznych wydających zgody na doświadczenia,  </li>
          <li>umożliwienie kontroli społecznej nad działaniami komisji etycznych, które decydują o wydatkowaniu milionów złotych z pieniędzy publicznych na doświadczenia na zwierzętach,</li>
          <li>większa ochrona zwierząt laboratoryjnych, poprzez umożliwienie udziału w procesie wydawania zgód na doświadczenia eksperckim organizacjom społecznym.</li>
          </ul>
        </div>
      <div class="four wide column">
        <h2>Zaangażuj się!</h2>
        <p>Poprawki Senatu są epokowe. Ale to nie koniec. Trzeba przekonać posłów i posłanki, by ich nie odrzucili. Napisz, zadzwoń, zaczep swojego posła lub posłankę.</p>
      </div>
    </div>
  </div>
  <div id="search-wrapper" class="sub header">
    <label for="jets-search">
      <i class="search icon"></i>
    </label>
    <input type="search" id="jets-search" placeholder="Szukaj posła lub posłanki" autocomplete="off" spellcheck="false"
      tabindex="0">
  </div>
</div>

<div class="ui stackable grid container">
  <div class="five column row">
    {% assign rowcount = 0 %}
    {% for section in site.data.sections %}
    {% assign rowend = forloop.index | modulo: 5 %}
    {% if rowend == 0 or forloop.index == forloop.length %}
    <a href="#" id="{{ section.id }}" class="category column">
      <h5 class="ui icon header">
        <i class="circular {{ section.icon }} icon"></i>
        <small>{{ section.title }}</small>
      </h5>
    </a>
    {% include mobile-table.html id-param=section.id title-param=section.title %}
    {% assign offcount = 5 | times: rowcount %}
    {% for section in site.data.sections limit: 5 offset: offcount %}
    {% include desktop-table.html id-param=section.id title-param=section.title %}
    {% endfor %}
  </div>
  {% if forloop.index != forloop.length %}
  {% assign rowcount = rowcount | plus: '1' %}
  <div class="five column row">
    {% endif %}
    {% else %}
    <a href="#" id="{{ section.id }}" class="category column">
      <h5 class="ui icon header">
        <i class="circular {{ section.icon }} icon"></i>
        <small>{{ section.title }}</small>
      </h5>
    </a>
    {% include mobile-table.html id-param=section.id title-param=section.title %}
    {% endif %}
    {% endfor %}
  </div>
</div>
